* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

/* NAVBAR */
.navcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: #000B14;
}

.navlist a {
    color: white;
    list-style: none;
    font-size: 2rem;
    font-family: 'Roboto Condensed'; 
    text-align: center;
}
.navlist a {
    text-decoration: none;
    animation: nav 1.5s;
    padding-top: 2rem;  
}
.navlist {
    display: flex;
    width: 50%;
    padding-bottom: 2rem;
    align-items: center;
    justify-content: space-around;
    z-index: 99;
}  
.navlist a:hover {
    transform: scale(1.2);
}
.navlist a::after{
    content: '';
	height: 3px;
	top: 100%;
	border-radius: 1px;
	position: absolute;
	background: #02B79C;
	transition: 0.5s;
	box-shadow: 0px 0px 8px #02B79C;
}
.navlist a:hover::after{
    width: 45%;
    transform: translateX(50%);
}
.agikxwb{
    transform: infinite;
}
.agikxwb:hover {
    transform: scale(1.2);
}


/* HOME */
.home-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    position: relative;
    margin-top: -77px;
    background-color: #000B14;
    
}

.logocontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; */
    gap: 1.6rem;
}

.title {
    width: 900px;
}

.subtitle {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.subtitle p {
    font-size: 2.5rem;
    color: white;
}
.reveal {
    color: white;
    height: 100%;
    width: 0;
    background-color: transparent;
    animation: text_reveal 5s ease forwards;
}

.socialcontainer {
    position: absolute;
    top: 20%;
    left: 4rem;
    transform: translate(-0%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: left; */
    gap: 2rem;
    /* margin-left: 3rem; */

}

.socialcontainer a{
    animation: slide-left 1.5s;
}
.facebook-icon-container,
.youtube-icon-container,
.linkedin-icon-container, 
.gmail-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.facebook-icon-container .tooltip,
.youtube-icon-container .tooltip,
.linkedin-icon-container .tooltip,
.gmail-icon-container .tooltip{
    font-family: Roboto, Arial;
    position: absolute;
    background-color: gray;
    color: white;
    padding: 4px 8px;
    border-radius: 2px;
    font-size: 12px;
    right: -100px;
    bottom: 5px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
}
.facebook-icon-container:hover .tooltip,
.youtube-icon-container:hover .tooltip,
.linkedin-icon-container:hover .tooltip,
.gmail-icon-container:hover .tooltip {
    opacity: 1;
}
.socmed:hover {
    fill: white;
    transform: scale(1.2);
}

.dotscontainer {
    position: absolute;
    top: 25%;
    right: 3rem;
    transform: translate(-0%, -50%);
    display: grid;
    grid-template-columns: repeat(6, 1rem);
    row-gap: 3rem;
    column-gap: 2.5rem;
    animation: dots 2s;
}

.dotscontainer1 {
    position: absolute;
    bottom: 25%;
    left: 3rem;
    transform: translate(0%, 50%);
    display: grid;
    grid-template-columns: repeat(6, 1rem);
    row-gap: 3rem;
    column-gap: 2.5rem;
    animation: dots 2s;
}

.dots {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: #02B79C;
    animation: dots 1.5s;
}


.description-container {
    /* position: absolute; */
    /* bottom: 7%; */
    /* left: 15%; */
    /* transform: translate(-0%, -50%); */
    /* border: 1px solid white; */
    /* width: 50rem; */
    margin-top: 3rem;
    padding: 0px 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* gap: 2rem; */
}

.description {
    color: white;
    font-size: 1.5rem;
    font-family: 'Inter' sans-serif;
    font-weight: 300;
    animation: slide-left 1.5s;
    text-align: center;
    line-height: 2.4rem;
    /* white-space: nowrap; */
}
/* .line {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; 
    /* border: 1px solid white; 
} */

/* .slide-right {
    width: 100%;
    height: .2rem;
    background-color: #02B79C;
    animation: 1.5s slide-right;
} */

/* .slide-left {
    width: 90%;
    height: .2rem;
    background-color: #02B79C;
    animation: 1.5s slide-left;
} */
.dotscontainer-left {
    position: absolute;
    bottom: -15rem;
    left: 18rem;
    transform: translate(-0%, -50%);
    display: grid;
    grid-template-columns: repeat(6, 1rem);
    gap: 2.5rem;
    animation: dots 2s;
}
.dots-l {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: #02B79C;
    animation: dots 1.5s;
} 

/* ABOUT US */
.about-outercontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
    width: 100%;
    min-height: 80vh;
    padding: 0px 0px 10rem;
    position: relative;
    background-color: #000B14;
}

.about-maincontainer {
    display: flex;
    /* border: 1px solid white; */
    justify-content: center;
    /* width: 70rem; */
    gap: 1rem;
    /* margin-right: 17%; */
    /* margin-top: 2rem; */
}

.about-clipart {
    width: 20rem;
    margin-right: 10rem;
}

.rightabout {
    display: flex;
    flex-direction: column;
    width: 70rem;
    /* align-items: right; */
    justify-content: center;
    /* border: 1px solid white; */
    gap: 2rem;
}

.aboutdescription {
    color: white;
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: right;
}
.right-subtitle{
    color: #02B79C; 
    font-weight: bold; 
    font-size: 5rem;
}
.leftabout {
    display: flex;
    align-items: center;
}

.abouttitle {
    color: #02B79C;
    /* transform-origin: 50% 50%;
    transform: rotate(90deg); */
    writing-mode: vertical-rl;
    font-size: 8.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    /* border: 1px solid white; */
}

.arrowcontainer {
    display: flex;
    justify-content: right;
    gap: .5rem;
}

.arrow {
    border: solid #02B79C;
    border-width: 0 6px 6px 0;
    padding: 7px;
    /* width: 0; */
    /* position: relative;
    left:58rem;
    top:1rem; */
  }

  .left {
    transform: rotate(135deg);
    animation: arrow-load 2s infinite;
  }
  .left:nth-child(1) {
    left:25px;
    animation-delay: 0.8s;
  }
  .left:nth-child(2) {
    animation-delay: 0.6s;
  }
  .left:nth-child(3) {
    animation-delay: 0.4s;
  }
  .left:nth-child(4) {
    animation-delay: 0.2s;
  }
  .left:nth-child(5) {
    right: 25px;
  }

  .separator-container {
    position:absolute;
    bottom: -12px;
    /* left: -1px; */
    /* right: -1px; */
    /* left: 50%; */
    /* max-height: 180px; */
    width: 100%;
    overflow: hidden;
    /* transform: translate(-50%, -100%); */
    transform: rotate(180deg);
    /* border: 1px solid red; */
}

.separator {
    width: 100%;
    transform: scale(1.01);
}


/* PROJECTS */
.projects-outercontainer {
    width: 100%;
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
    gap: 5rem;
    position: relative;
    /* border: 1px solid blue; */
}




/* .arrowdowncircle {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid red;
} */
 .arrow2 {
    border: solid #000B14;
    border-width: 0 6px 6px 0;
    padding: 7px;
    
} 

/* .down1 {
    transform: rotate(45deg);
}

.arrowcontainer2 {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 27%);
} */ 

.projects-maincontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* margin-left: 17%; */
    /* border: 1px solid red; */
    gap: 4rem;

}

.projecttitle {
    color: #000B14;
    /* transform-origin: 50% 50%; */
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    font-size: 7rem;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    /* margin-top: 15rem; */
    /* border: 1px solid white; */
}

.projectleft {
    display: flex;
    gap: 1rem;
}

.arrowcontainer3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: .5rem;
}

/* .arrow3 {
    border: solid #000B14;
    border-width: 0 6px 6px 0;
    padding: 7px;
    width: 0;
    position: relative;
    left:58rem;
    top:1rem;
} */
.down {
    transform: rotate(45deg);
    animation: arrow-load 2s infinite;
  }
  .down:nth-child(1) {
    left: 25px;
    animation-delay: 0.2s;
  }
  .down:nth-child(2) {
    animation-delay: 0.4s;
  }
  .down:nth-child(3) {
    animation-delay: 0.6s;
  }
  .down:nth-child(4) {
    animation-delay: 0.8s;
  }
  .down:nth-child(5) {
    right: 25px;
    animation-delay: .99s;
  }

.mySlides {
    display: none;
}

.slideshow-container {
    /* width: 70rem; */
    /* height: 40rem; */
    position: relative;
    box-sizing: border-box;
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: 60rem 25rem;
    gap: 2rem;
    padding: 1rem;
    /* box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.589); */
    /* border-radius: 10px; */
    /* margin: auto; */
}

.sld-left {
    position:relative;
}

.sld-left img{
    width: 60rem;
    height: 100%;
    object-fit: cover;
}

.sld-btns {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prev, .next {
    cursor: pointer;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    width: auto;
    padding: 16px;
    /* margin-top: -22px; */
    color: white;
    background-color: #000b1491;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    color: #000B14;
    background-color: #02B79C;
}

.sld-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    /* position: absolute; */
    /* top: 0px; */
    /* left: 400px; */
    /* height: 37.4rem; */
    /* width: 37.4rem; */
    /* border: 1px solid black; */
}

.caption {
    color: #000B14;
    font-size: 21px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    /* padding: 8px 0px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center; */
    
}

.numbertext {
    color: #000B14;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.slidedescription {
    color: #000B14;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    /* position: absolute;
    bottom: 22px;
    left: 400px;
    height: 37.4rem;
    width: 37.4rem;
    border: 1px solid black; */
}


.dotscontainer2 {
    position: absolute;
    top: 5rem;
    left: 2rem;
    /* transform: translate(-0%, -50%); */
    display: grid;
    grid-template-columns: repeat(6, 1rem);
    row-gap: 3rem;
    column-gap: 2.5rem;
}

.dotscontainer3 {
    position: absolute;
    bottom: 0px;
    right: 2rem;
    transform: translate(-0%, 50%);
    display: grid;
    grid-template-columns: repeat(6, 1rem);
    row-gap: 3rem;
    column-gap: 2.5rem;
    z-index: 2;
}

.dots2 {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: #000B14;
    animation: dots 1.5s;
}
/* Gamification start */
.gamification-outercontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #ffffff;
    position: relative;
}
.gamification-maincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.gamepic {
    width: 80rem;
    transition: all .25s;
    /* margin-right: 10px; */
}
.gamepic:hover {
    transform: scale(1.04);
}

.gamepic:active {
    opacity: .6;
}
.gamecap {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.gamificationcaption    {
    color: #001e36;
    font-size: 2.3rem;
    font-family: 'Inter', sans-serif;
}
.right-game {
    display: flex;
    flex-direction: row;
}
.arrowcontainer-gamification {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    gap: .5rem;
    /* margin-top: -3rem; */
    /* border: 1px solid black; */
    margin-right: 15px;
}
.up {
    transform: rotate(45deg);
    animation: arrow-load 2s infinite;
  }
  .up:nth-child(1) {
    left: 25px;
    animation-delay: 0.2s;
  }
  .up:nth-child(2) {
    animation-delay: 0.4s;
  }
  .up:nth-child(3) {
    animation-delay: 0.6s;
  }
  .up:nth-child(4) {
    animation-delay: 0.8s;
  }
  .up:nth-child(5) {
    right: 25px;
    animation-delay: .99s;
  }

.gamificationtitle {
    display: flex;
    writing-mode: vertical-rl;
    color: #000B14;
    font-size: 7rem;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.dotscontainer7 {
    position: absolute;
    bottom: 20rem;
    left: 2rem;
    /* transform: translate(-0%, 50%); */
    display: grid;
    grid-template-columns: repeat(6, 1rem);
    row-gap: 3rem;
    column-gap: 2.5rem;
}

/* Gamification end *
 /* Services */
 .services-outercontainer {
    width: 100%;
    min-height: 100vh;
    padding: 12rem 0px;
    background-color: #000B14;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 13rem;
}

.separator-container2 {
    position: absolute;
    top: -15px;
    overflow: hidden;
    width: 100%;
    /* transform: rotateY(180deg); */
}

.separator-container3 {
    position: absolute;
    bottom: -15px;
    overflow: hidden;
    width: 100%;
    transform: rotate(180deg);
}


.services-maincontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: -6rem;
}

.servicestitle {
    color: #02B79C;
    font-size: 7rem;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}


.arrowcontainer4 {
    display: flex;
    gap: .5rem;
}



.right {
    transform: rotate(315deg);
    animation: arrow-load 2s infinite;
}
  .right:nth-child(1) {
    left: 25px;
    animation-delay: 0.2s;
  }
  .right:nth-child(2) {
    animation-delay: 0.4s;
  }
  .right:nth-child(3) {
    animation-delay: 0.6s;
  }
  .right:nth-child(4) {
    animation-delay: 0.8s;
  }
  .right:nth-child(5) {
    right: 25px;
    animation-delay: .99s;
  }

.service-content{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    text-align: center;
    gap: 5rem;
    /* margin-top: 5rem; */
}
.box{
    font-family: 'Roboto Condensed', sans-serif;
    /* min-height: 40rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
	padding: 60px;
	background: white;
	border-top: 5px solid transparent;
	border-radius: 2rem;
	transition: all .40s ease;
	cursor: pointer;
    position: relative;
}

.box h3{
    color: #02B79C;
	font-size: 24px;
	font-weight: 600;
	margin: 15px 0;
	transition: all .40s ease;
}
.box p{
	color: #000B14;
	font-size: 18px;
	line-height: 30px;
}
.box:hover{
	transform: scale(1.16) ;
	border-top: 5px solid #02B79C;
}
.box:hover h3{
	color: #000B14;
}
.image-contianer {
    position: absolute;
    left: -10px;
}
.service-image {
    /* border: 1px solid white; */
    height: 160px;
    width: 160px;
    object-fit: cover;
    /* transition: height 0.15s, width 0.15s; */
}

.get {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.get p {
    color: white;
}

.getleft {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.getleft p {
    font-size: 3.4rem;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.getright a, .getleft a  {
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    color: white;
}
.getright a:hover, .getleft a:hover{
    color: #02B79C;
}
.getright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.getright p {
    font-size: 3.4rem;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.line2 {
    width: 15rem;
    height: 2px;
    background-color: white;
}


.dotscontainer5 {
    position: absolute;
    top: 1.5rem;
    right: 50%;
    transform: translate(50%, 0%);
    /* margin-top: 1.25rem; */
    display: grid;
    grid-template-columns: repeat(10, 1rem);
    gap: 2rem;
}
 /* ACTIVITIES */
 .activities-outercontainer {
    width: 100%;
    min-height: 100vh;
    background-color: white;
    position: relative;
    padding-bottom: 10rem;
    
}
  .activities-maincontainer {
    display: grid;
    grid-template-columns: 60%;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 2rem;
}
.act-titleandarrows {
    display: flex;
    align-items: center;
    /* width: 65%; */
    gap: 2rem;
    margin-top: 8rem;
}

.activitiestitle {
    color: #000B14;
    font-size: 7rem;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.activities-collage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    /* border: 1px solid black; */
}

.activities-collage img {
    /* border: 1px solid black; */
    width: 100%;
    height: 30rem;
    object-fit: cover;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);

}
.dotscontainer4 {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 0%);
    /* margin-bottom: 1.25rem; */
    display: grid;
    grid-template-columns: repeat(10, 1rem);
    gap: 2rem;
    justify-content: center;
}

.arrowcontainer4 {
    display: flex;
    gap: .5rem;
}
/* OUR CLIENTS */
.clients-outercontainer {
    background-color: #000B14;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    
}

.clients {
    align-content: center;
    --duration: 20s;
    display: flex;
    overflow: hidden;
    width: 100%;
}
.clientstitle {
    color: #fff;
    font-size: 7rem;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-top: 15rem;
}
.clients__group {
    display: flex;
    color: #fff;
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
    animation: scroll var(--duration) linear infinite;
}
.clients--borders {
    border: 3.5px solid #02B79C;
    border-left: 0px;
    border-right: 0px;
}

.companylogo-container {
    width: 100%;
    min-height: 50vh;
    background-color: white;
    display: flex;
    justify-content: center;
}

.companylogo-container img {
    width: 20rem;
    /* object-fit: contain; */
   
}

.logos {
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    justify-content: center;
    align-items: center;
    column-gap: 15rem;
    row-gap: 2rem;
    padding: 4rem;
}

/* CONTACTS */

.contacts-background {
    background-color: #000B14;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.contactscontainer {
    display: flex;
    align-items: center;
    gap: 10rem;

}
.top-left {
    color: white;
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 0;
    letter-spacing: 2px;
    /* margin-bottom: -10px; */
}
.bot-left {
    color: white;
    font-size: 8.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 6px;

}


form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

input {
    border: 3px solid #02B79C;
    padding: 8px;
}

textarea {
    border: 3px solid #02B79C;
    /* border-radius: 10px; */
    padding: 10px;
}
::placeholder {
    font-family: Helvetica;
    font-size: 1.5rem;
}
.sendbtn {
    /* font-family: Helvetica; */
    /* font-weight: bold; */
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: #000B14;
    color: #02B79C;
    transition: background-color .15s, color .15s;
    letter-spacing: 1px;
    margin-top: 5px;
    /* width: 20%; */
}

.sendbtn:hover {
    background-color: #02B79C;
    color: white;
}

.dotscontainer6 {
    position: absolute;
    bottom: 2.5rem;
    left: 2.5rem;
    /* transform: translate(0%, 0%); */
    display: grid;
    grid-template-columns: repeat(10, 1rem);
    gap: 2.5rem;
}

/* FOOTER */

.footerbg {
    background-color: #001e36;
    width: 100%;
    /* padding: 3rem 0rem 3rem; */
    /* display: flex; */
    /* justify-content: center; */
}
.mainfooter {
    padding: 3rem 0rem 3rem;
    display: flex;
    justify-content: center;
}

.footer-cont {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 4rem;
}

.topfooter, .bottomfooter{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 10%;
    width: 100%;
}

/* .tf:nth-of-type(2), .bf:nth-of-type(2) {
    margin-left: 10rem;
} */

.topfooter {
    align-items: center;
}

.tf {
    display: flex;
    align-items: center;
    gap: 2rem;
}


.tf-right p {
    color: white;
    font-size: 1.4rem;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.tf-right p:last-of-type {
    font-weight: 100;
    
}

.footer-separator {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1px;
    background-color: #424344;

}


.bf {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.bf p {
    color: white;
    font-size: 1.4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
}

.firstp {
    line-height: 2.5rem;

}

.bf:first-of-type p:last-of-type {
    font-weight: bold;
}

.footer-social {
    display: inline-flex;
    gap: 2rem;
}

.bf-separator {
    width: 5rem;
    height: 2px;
    background-color: #02B79C;
}

.links-cont {
    display: grid;
    grid-template-columns: 6rem 6rem;
    row-gap: 2rem;
    column-gap: 7rem;
}
.links-cont a {
    color: #878787;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 14px;
}
.links-cont a:hover{
    color: #02B79C;
}

.bf ul li {
    color: white;
    font-family: 'Inter', sans-serif;
    /* width: 40rem; */
    /* list-style: inside; */
    font-weight: 100;
    font-size: 1.2rem;
    line-height: 2.5rem;
    margin-left: 1.5rem;    
}
.copyright-text{
    background-color: #000B14;
    padding: 25px 0;
    text-align: center;
  }
  .copyright-text p {
    font-size: 14px;
    color: #878787;
    justify-content: center;
  }
/* keyframes start */
@keyframes text_reveal {
    100% {
        color: #02B79C;
    }
    0% {
        color: #ffffff;
    }
}

@keyframes nav {
    0% {
        transform: translateY(-100%);
    }
}
@keyframes dots {
    0% {
        transform: translateY(200%);
    }
}
@keyframes slide-right {
   0% {
        transform: translate(150%);
    }
}
@keyframes slide-left {
    0% {
        transform: translate(-100%);
      }
}

@keyframes arrow-load {
    0%{
        opacity: 0;
    }
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    } 
}
@keyframes scroll {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(-100%);
    }
  }
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
/* keyframes end */

/* RESPONSIVE */


@media only screen and (max-width: 1440px){
    .right-subtitle {
        font-size: 4rem;
    }
    .tf:first-of-type 
    .tf-right {
        width: 25rem;
    }

    .topfooter {
        grid-template-columns: auto 1fr 2fr;
    }
    .activities-collage {
        grid-template-columns: repeat(2, 1fr);
    }
    .dotscontainer, .dotscontainer1, .dotscontainer2, .dotscontainer3, .dotscontainer7 {
        column-gap: 1.5rem;
    }
    .service-content {
        /* grid-template-columns: repeat(2, 1fr); */
        gap: 4rem;
    }
    .box {
        padding: 5rem;
    }
    /* .box:last-of-type {
        grid-column-start: 1;
        grid-column-end: 3;
    } */
    .top-left {
        font-size: 3rem;
    }
    .bot-left {
        font-size: 7rem;
    }
}

@media only screen and (max-width: 1280px){
    /* .about-outercontainer {
        display: flex;
        justify-content: space-evenly;
    } */
    .right-subtitle {
        font-size: 3rem;
    }
    .rightabout {
        width: 60rem;
    }
    .aboutdescription {
        font-size: 1.7rem;
    }
    .about-clipart {
        width: 17rem;
        margin-right: 8rem;
    }
    /* .about-maincontainer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    } */
    .projects-maincontainer {
        margin-right: -100px;
    }
    
    .box {
        padding: 3rem;
        /* width: 50%; */
    }
    .service-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }
    .box:last-of-type {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .title {
        width: 700px;
    }
    .subtitle p {
        font-size: 2.2rem;
    }
    .about-maincontainer {
        width: 100rem;
    }
    .socialcontainer svg {
        width:30px;
        height:30px;
    }
    .dotscontainer, .dotscontainer1, .dotscontainer2, .dotscontainer3, .dotscontainer4, .dotscontainer5, .dotscontainer6, .dotscontainer7 {
        row-gap: 2rem;
        column-gap: 1.5rem;
    }
    .sld-left img{
        width: 50rem;
    }
    .slideshow-container {
        grid-template-columns: 50rem 25rem;
    }
    .gamepic {
        width: 68rem;
    }

    .contactscontainer {
        gap: 2rem;
    }
    .bot-left {
        font-size: 7rem;
    }
    .top-left {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 1100px) {
    .right-subtitle {
        font-size: 3rem;
    }
    .rightabout {
        width: 60rem;
    }
    .aboutdescription {
        font-size: 1.7rem;
        text-align: start;
    }
    .about-clipart {
        display: none;
    }
    .about-maincontainer {
        flex-direction: row-reverse;
    }
    .abouttitle {
        transform: rotate(180deg);
        font-size: 7rem;
    }
    .arrowcontainer {
        display: none;
    }
    .projects-maincontainer {
        flex-direction: column;
        margin: 7rem 0px;
    }
    .projectright {
       margin-top: -3rem;
    }
    .slideshow-container {
       grid-template-columns:  50rem;
    }
    .projecttitle {
       writing-mode: horizontal-tb;
       transform: rotate(0deg);
    }
    .arrowcontainer3 {
       display: none;
    }
    .gamification-maincontainer {
        flex-direction: column-reverse;
    }
    .gamificationtitle {
        writing-mode: horizontal-tb;
    }
    .arrowcontainer-gamification {
        display: none;
    }
    .gamepic {
        width: 60rem;
    }
    .service-content {
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 4rem;
        width: 60%;
    }
    .arrowcontainer4 {
        display: none;
    }
    .box {
        padding: 5rem;
    }
    .box:last-of-type {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .dotscontainer5, .dotscontainer4 {
        gap: 1.5rem;
    }
    .dotscontainer, .dotscontainer3 {
        right: 1.5rem;
    }
    .dotscontainer1, .dotscontainer2, .dotscontainer7, .dotscontainer6 {
        left: 1.5rem;
    }
    
    .clientstitle {
        font-size: 5rem;
    }
    .logos {
        grid-template-columns: repeat(3, 15rem);
        column-gap: 10rem;
    }
    .companylogo-container img {
        width: 15rem;
    }
    .activities-collage {
        grid-template-columns: repeat(2, 1fr);
    }
    .activities-collage img {
        height: 20rem;
    }
    .contactscontainer {
        flex-direction: column;
    }
    .dotscontainer6 {
        row-gap: 2rem;
        column-gap: 1.5rem;
        grid-template-columns: repeat(6, 1rem);
    }
    .navlist a{
        font-size: 1.8rem;
        width: 90%;
    }
}

@media only screen and (max-width: 900px){
    .title {
        width:60rem;
    }
    .right-subtitle {
        font-size: 3rem;
    }
    .rightabout {
        width: 50rem;
    }
    .aboutdescription {
        font-size: 1.7rem;
        text-align: start;
    }
    .about-clipart {
        display: none;
    }
    .about-maincontainer {
        flex-direction: row-reverse;
    }
    .abouttitle {
        transform: rotate(180deg);
        font-size: 7rem;
    }
    .arrowcontainer {
        display: none;
    }
    .projects-maincontainer {
        flex-direction: column;
        margin: 7rem 0px;
    }
    .projectright {
       margin-top: -3rem;
    }
    .slideshow-container {
       grid-template-columns:  50rem;
    }
    .projecttitle {
       writing-mode: horizontal-tb;
       transform: rotate(0deg);
    }
    .arrowcontainer3 {
       display: none;
    }
    .gamification-maincontainer {
        flex-direction: column-reverse;
    }
    .gamificationtitle {
        writing-mode: horizontal-tb;
    }
    .arrowcontainer-gamification {
        display: none;
    }
    .gamepic {
        width: 50rem;
    }
    .service-content {
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 4rem;
    }
    .arrowcontainer4 {
        display: none;
    }
    .box {
        padding: 5rem;
    }
    .box:last-of-type {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .dotscontainer5, .dotscontainer4 {
        gap: 1.5rem;
    }
    .dotscontainer, .dotscontainer3 {
        right: 1.5rem;
    }
    .dotscontainer1, .dotscontainer2, .dotscontainer7, .dotscontainer6 {
        left: 1.5rem;
    }
    .dotscontainer, .dotscontainer1, .dotscontainer2, .dotscontainer3, .dotscontainer6, .dotscontainer7 {
        row-gap: 1.5rem;
        column-gap: 1rem;
    }
    .get p {
        font-size: 2.5rem;
    }
    .clientstitle {
        font-size: 4rem;
    }
    .logos {
        grid-template-columns: repeat(3, 15rem);
        column-gap: 10rem;
    }
    .companylogo-container img {
        width: 15rem;
    }
    .activities-collage {
        grid-template-columns: repeat(2, 1fr);
    }
    .activities-collage img {
        height: 18rem;
    }
    .contactscontainer {
        flex-direction: column;
    }
    .dotscontainer6 {
        row-gap: 2rem;
        column-gap: 1.5rem;
        grid-template-columns: repeat(6, 1rem);
    }
    .topfooter, .bottomfooter  {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
   
}

@media only screen and (max-width: 768px){
    .rightabout {
        width: 40rem;
    }
    .right-subtitle {
        font-size: 2.5rem;
    }
    .dotscontainer,
    .dotscontainer1,
    .dotscontainer2,
    .dotscontainer3,
    .dotscontainer4,
    .dotscontainer5,
    .dotscontainer6,
    .dotscontainer7 {
        display: none;
    }
    .socialcontainer {
        display: flex;
        flex-direction: row;
        /* position: absolute;
        bottom: 10px; */
        bottom: -10%;
    }
    /* .services-outercontainer {
        display: flex;
        justify-content: center;
        align-items: center;
    } */
    .service-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  
    .clientstitle {
        display: flex;
        margin-top: 10rem;
        font-size: 4rem;
    }
    .clientstitle span{
        margin-right: 1rem;
    }
    .logos {
        grid-template-columns: repeat(3, 12rem);
        column-gap: 7rem;
    }
    .companylogo-container img {
        width: 12rem;
    }
    /* .clients-outercontainer {
        min-height: 0;
    } */
    .contacts-background {
        display: flex;
        justify-content: center;
    }
    .contactscontainer {
        margin-bottom: 5rem;
        margin-top: 5rem;
    }
    .topfooter, .bottomfooter  {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
}
@media only screen and (max-width: 540px) {
    .socialcontainer {
        display: flex;
        flex-direction: row;
        /* justify-content: space-between; */
        transform: none;
        position: absolute;
        left: 18rem;
        bottom: -30rem;
    }
    .tooltip {
        display: none;
    }
    .title {
        width: 45rem;
    }
    .about-maincontainer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .abouttitle {
        transform: rotate(270deg);
        font-size: 5rem;
        /* margin-bottom: -8rem; */
    }
    .aboutdescription {
        margin-top: -6.5rem;
    }
    .projecttitle {
        font-size: 5rem;
        /* grid-template-columns: 30rem; */
    }
    /* .slideshow-container {
        grid-template-columns: 50rem;
    } */
    .gamification-maincontainer {
        margin-left: 0;
    }
    .gamificationtitle {
        font-size: 5rem;
    }
    .servicestitle {
        font-size: 5rem;
    }
    .box {
        padding: 4rem;
        height: 40rem;
    }
    .get  {
        display: flex;
        flex-direction: column;
    }
    .getleft {
        margin-top: -40px;
        margin-bottom: 50px;
    }
    .activities-maincontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .activitiestitle {
        /* display: flex;
        justify-content: center;
        align-items: center; */
        margin-bottom: 10px;
    }
    .activities-collage {
        grid-template-columns: 1fr;
        /* column-gap: 20px; */
    }
    .logos {
        grid-template-columns: 1fr;
        /* margin: 2rem; */
        padding: 50px;
    }
    .top-left {
        font-size: 2.5rem;
    }
    .bot-left {
        font-size: 6.6rem;
        margin-bottom: 10px;
    }

}
@media only screen and (max-width: 414px) {
    /* .navcontainer {
        width: 100vh;
    }
    .navlist {
        display: flex;
        width: 75%;
        padding-bottom: 3rem;
        white-space: nowrap;
    }
    .home-container {
        width: 100vh;
    }
    .title {
        width: 550px;
    }
    .description-container{
        text-align: center;
        font-size: 12px;
    }
    .about-outercontainer {
        width: 100vh;
    }
    .dotscontainer2 {
        z-index: -1;
    }
    .circle {
        position: absolute;
        right: 100px;
    }
    .clients__group {
        font-size: 1rem;
    } */
    .projects-maincontainer {
        flex-direction: column;
    }
}
@media (max-width: 375px) {
    .title {
        width: 30rem;
    }
    .subtitle {
        gap: 1rem;
    }
    .subtitle p {
        font-size: 1.5rem;
    }
    .description-container {
        padding: 0px 3rem;
    }
    .description {
        font-size: 1.3rem;
        line-height: 1.7rem;
    }
    .socialcontainer svg {
        width: 20px;
        height: 20px;
    }
    .about-maincontainer {
        flex-direction: column-reverse;
        width: 30rem;
    }
    .abouttitle {
        writing-mode: horizontal-tb;
        rotate: 180deg;
        font-size: 5rem;
    }
    .right-subtitle {
        font-size: 2rem;
    }
    .rightabout {
        width: 30rem;
    }
    .separator-container {
        bottom: -3px;
    }
    .projecttitle {
        font-size: 5rem;
    }
    .sld-left {
        width: 30rem;
    }
    .sld-left img {
        width: 30rem;
    }
    .slideshow-container {
        width: 30rem;
    }
    .sld-right {
        width: 30rem;
    }
    .gamificationtitle {
        font-size: 4rem;
    }
    .gamepic {
        width: 30rem;
    }
    .gamificationcaption {
        font-size: 1.7rem;
    }
    .separator-container2 {
        top: -3px;
    }
    .servicestitle {
        font-size: 5rem;
    }
    .box {
        padding: 3rem;
    }
    .service-content {
        width: 30rem;
    }
    .get  {
        flex-direction: column;
        gap: 7rem;
    }
    .get p {
        font-size: 2rem;
    }
    .get a {
        font-size: 1.4rem;
    }
    .separator-container3 {
        bottom: -3px;
    }
    .activitiestitle {
        font-size: 4rem;
    }
    .activities-collage {
        grid-template-columns: 1fr;
    }
    .activities-collage img {
        height: 10rem;
    }
    .clientstitle {
        font-size: 3rem;
        display: inline;
        text-align: center;
    }
    .logos {
        grid-template-columns: repeat(2, 10rem);
        column-gap: 5rem;
    }
    .companylogo-container img {
        width: 10rem;
    }
    .top-left {
        font-size: 1.5rem;
    }
    .bot-left {
        font-size: 4rem;
    }
    textarea {
        width: 27rem;
    }
    ::placeholder {
        font-size: 1.3rem;
    }
    .sendbtn {
        font-size: 1.2rem;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    } 
    .tf svg {
        height: 2.5rem;
        width: 2.5rem;
    }
    .tf p, .bf p{
        font-size: 1.2rem;
    }
    .bottomfooter {
        row-gap: 5rem;
    }
    .copyright-text  {
        padding: 1.5rem 0px;
    }
    .copyright-text p {
        font-size: 1rem;
    }
  }