* {
    margin: 0;
    padding: 0;
    
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #000B14;
    width: 100%;
    min-height: 100vh;
}

/* NAVBAR */
.navcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

}

.navlist li {
    color: white;
    list-style: none;
    font-size: 2rem;
    font-family: 'Roboto Condensed';
    
}

.navlist a {
    text-decoration: none;
}

.navlist {
    display: flex;
    width: 50%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    justify-content: space-around;
}  
.navlist a:hover {
    transform: scale(1.2);
}
.navlist a::after{
    content: '';
	height: 3px;
	top: 100%;
	border-radius: 1px;
	position: absolute;
	background: #02B79C;
	transition: 0.5s;
	box-shadow: 0px 0px 8px #02B79C;
}
.navlist a:hover::after{
    width: 70%;
    transform: translateX(50%);
}
.agikxwb:hover {
    transform: scale(1.2);
}

/* HOME */
.home-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    margin-top: -77px;
}

.logocontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; */
    gap: 1.6rem;
}

.title {
    width: 900px;
}

.subtitle {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.subtitle p {
    font-size: 2.5rem;
    color: white;
}
.reveal {
    color: white;
    height: 100%;
    width: 0;
    background-color: transparent;
    animation: text_reveal 5s ease forwards;
}   
.socialcontainer {
    position: absolute;
    top: 40%;
    left: 4rem;
    transform: translate(-0%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: left; */
    gap: 2rem;
    /* margin-left: 3rem; */

}
.socialcontainer a {
    color: #02B79C;
    font-size: 3.5rem;
}

.socialcontainer a:hover {
    color: white;
    transform: scale(1.2);
}

.dotscontainer {
    position: absolute;
    top: 25%;
    right: 3rem;
    transform: translate(-0%, -50%);
    display: grid;
    grid-template-columns: repeat(10, 1rem);
    gap: 3rem;
}

.dots {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: #02B79C;
}

.description-container {
    position: absolute;
    top: 87%;
    left: 15%;
    transform: translate(-0%, -50%);
    /* border: 1px solid white; */
    width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.description {
    color: white;
    font-size: 1.5rem;
    font-family: 'Inter' sans-serif;
    font-weight: 300;
}

.line {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; 
    /* border: 1px solid white; */
}

.slide-right {
    width: 50rem;
    height: .2rem;
    background-color: #02B79C;
    animation: 3s slide-right;
}
@keyframes slide-right {
  from {
    margin-left: -150%;
  }
  to {
    margin-left: 0%;
  }
}
/***** Slide Left *****/
.slide-left {
    width: 45rem;
    height: .2rem;
    background-color: #02B79C;
    animation: 3s slide-left;
}
@keyframes slide-left {
  from {
    margin-left: 400%;
  }
  to {
    margin-left: 0%;
  }
}
/* keyframes start */
@keyframes overlay {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        left: 100%;
        width: 0;
    }
}
@keyframes text_reveal {
    100% {
        color: #02B79C;
    }
    50% {
        color: #000B14;
    }
}
/* keyframes end */

/* ABOUT US */
.about-outercontainer {
    display: flex;
    justify-content: right;
    /* border: 1px solid white; */
    width: 80%;
}

.about-maincontainer {
    display: flex;
    align-items: center;
    /* border: 1px solid white; */
    width: 90rem;
    gap: 1rem;
}

.aboutdescription {
    color: white;
    font-size: 1.7rem;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: right;
}

.abouttitle {
    color: #02B79C;
    /* transform-origin: 50% 50%;
    transform: rotate(90deg); */
    writing-mode: vertical-rl;
    font-size: 7rem;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    /* border: 1px solid white; */
}